body {
    margin: 0px;
}
img {
    width: 100%;
}
.buttons {
    position: fixed;
    left: 10px;
    top: 15px;
}
.language {
    position: relative;
    top: -15px;
    margin-left: 20px;
}
.email {
    position: relative;
    top: -15px;
    margin-left: 20px;
    font: 14pt Calibri;
    color: white;
}
div {
    display: inline;
}