body {
    margin: 0px;
}
img {
    width: 100%;
}
.buttons {
    padding-left: 15px;
}
.peecho {
    position: relative;
    top: 15px;
    line-height: 50px;
}
.language {
    margin-left: 15px;
    padding-bottom: 20px;
}
.email {
    font: 14pt Calibri;
    color: gray;
    margin: 15px;
}
div {
    display: inline;
}